.gaia-admin-app-plugin-config {
  overflow-x: scroll;
}
.kuc-btn{
  margin: 10px 0;
}
.table-split-table{
  padding: 20px;
  border: dotted 1px #aaa;
}
.table-split-row{
  display: flex;
  white-space: nowrap;
  padding: 1px;
  margin: 1px;
  background: #eee;
}
.table-split-field{
  userSelect: 'none';
  width: 150px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
}