.kuc-header-label{
  display: block;
}
.kuc-header-label .kuc-label{
  margin: 0;
  padding: 5px 0;
  font-size: inherit;
  line-height: initial;
}
.kuc-input-number .kuc-input-text{
  display: inline-block;
  text-align: right;
}
.split-table-detail{
  min-width: 120px;
  padding: 2px 0;
}
.split-table-detail-number{
  text-align: right;
}
.split-table-detail-multi-line-text{
  white-space: pre;
}
.split-table-detail-multi-values span{
  margin-right: 10px;
}